<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Document</title>
</head>
<body>

   



    <nav><ul><li>  <a href="/" class="home">home</a></li></ul>
        <ul><li>  <a href="/signup" class="signup">signup</a></li></ul>
        <ul><li>  <a href="/login" class="login">login </a></li></ul>
        </a></nav>
        
        <h1 class="logo">money blog.com</h1>           
    <div class="container">
            
           
    

        <div class="main">

          
            <img src="/fff.svg" alt="">
            <p>create posts to make more money <br> the more post you create the more money you earn </p>
            <H6><% if(typeof errors != 'undefined') { %>
                <% errors.forEach(error => { %>
                    <%=error.message%>
               <% }); %>
                
                <% } %></H6>
            <form action="/login" method="POST">
                <h1 class="form-header">login</h1>
                <label for="">Email</label>
                <input type="text" placeholder="Enter your Email" name="email" required>
                <div class="email-err"></div>
                <label for="">password</label>
                <input type="password" placeholder="Enter your password" name="password" required>
                <div class="password-err"></div>
                <button>Login</button>
    
            </form>
           
        </div>






    </div>








</body>
</html>